@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  @apply mx-auto px-[15px];
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #a1a7bb;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #FF6F00;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #868686;
}

body {
  font-family: 'Satoshi', sans-serif;
  @apply bg-silver;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  box-shadow: 0 0 0 30px white inset !important;
  transition: background-color 5000s ease-in-out 0s;
}

/* For WebKit browsers (Chrome, Safari) */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.Product_Slider .slick-dots li {
  @apply w-[10px] h-[10px];
}

.Product_Slider .slick-track {
  display: flex !important;
  min-width: 100% !important;
}

.Product_Slider .slick-list {
  margin: 0 -16px;
}

.Product_Slider .slick-slide {
  padding: 0 16px;
}

.Product_Slider.c_hidden .slick-slide.slick-cloned {
  display: none;
}

.Product_Slider .slick-dots li button {
  @apply w-[10px] h-[10px] bg-gray-100 rounded-full;
}

.Product_Slider .slick-dots li.slick-active button {
  @apply bg-primary;
}

.Product_Slider .slick-dots li button:before {
  @apply content-[""];
}

.Discount_Banner {
  background: linear-gradient(89.95deg, #F3EFE5 0.04%, #F3EFE5 24.13%, rgba(243, 239, 229, 0) 83.32%);
}

.Product_Details .slick-dots {
  bottom: 0;
  transform: translateY(calc(100% + 15px));
}

.Product_Details .slick-dots li {
  width: auto;
  height: auto;
  margin: 0 10px;
}

.Product_Details .slick-dots li > div {
  @apply border border-transparent;
}

.Product_Details .slick-dots li.slick-active > div {
  @apply border-primary;
}

.Product_Details .slick-arrow {
  @apply text-black;
}

.Product_Details .slick-arrow:hover,
.Product_Details .slick-arrow:focus {
  @apply text-black;
}

.Product_Details .slick-disabled {
  @apply opacity-50 cursor-text;
}

.aboutUsBg{
  background:linear-gradient(rgba(49, 49, 49, 0.507),rgba(66, 65, 65, 0.452)), url("./assets/banners/aboutBanner.png");
  background-size: cover;
  background-position: center;
}
.contactUsBg{
  background:url("./assets/banners/contactBanner.png");
  background-size: cover;
  background-position: center;
}
.cementBg{
  background:url("../public/cementTexture.png");
  background-size: cover;
  background-position: center;
}
.wishlistBg{
  background:linear-gradient(rgba(49, 49, 49, 0.507),rgba(66, 65, 65, 0.452)), url("/wishlistbanner.png");
  background-size: cover;
  background-position: center;
}
.customizeFurnitureBg{
  background:url("../public/customizeFurniture.png");
  background-size: cover;
  background-position: center;
}
.FAQSBg{
  background:url("../public/FAQS\ Banner.png");
  background-size: cover;
  background-position: center;
}

.tcBanner{
  background:url("../public/t&c\ Banner.png");
  background-size: cover;
  background-position: center;
}

.accordion-content {
  /* max-height: 0; */
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.accordion-content.open {
  /* max-height: 1000px; */
  transition: max-height 0.3s ease;
}

.transition-transform {
  transition: transform 0.3s ease;
}


.multi-range-slider .thumb .caption .min-caption {
  @apply bg-gray-900;
}

.multi-range-slider .thumb .caption .max-caption {
  @apply bg-gray-900;
}

.multi-range-slider .bar .bar-inner {
  @apply bg-gray-200 border-none shadow-none;
}

.multi-range-slider .bar .bar-left,
.multi-range-slider .bar .bar-right {
  box-shadow: none;
  border: none;
  background-color: #DADADA;
}

.multi-range-slider .thumb {
  transform: translateY(2px);
}

.multi-range-slider .thumb::before {
  content: "";
  background-color: inherit;
  position: absolute;
  width: 20px;
  height: 20px;
  border: solid 1px #0a4232 !important;
  box-shadow: none !important;
  border-radius: 50%;
  z-index: 1;
  margin: -8px -12px;
  cursor: pointer;
}

/* .apexcharts-toolbar {
  display: none !important;
} */

input[type='checkbox'] {
  @apply appearance-none w-[18px] h-[18px] rounded-[4px] border;

  border-color: #bdbdbd;
}

input[type='checkbox']:checked {
  @apply w-[18px] h-[18px] bg-gray-900 border-gray-900;
  background-image: url("data:image/svg+xml,%3csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 12'%3e %3cpath stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M1 5.917 5.724 10.5 15 1.5'/%3e %3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
}

input[type="color"]::-moz-color-swatch {
  border-radius: 5px;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  border-radius: 5px;
}

input[type="color"]::-webkit-color-swatch {
  border-radius: 5px;
}

.text_auto_wrap {
  @apply overflow-hidden text-ellipsis;
  
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.Grid_Gallery {
  display: grid;
  grid-gap: 8px;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 30vw;
  list-style: none;
}

.Grid_Gallery div:nth-child(11n + 9) {
  grid-column: 1 / -1;
  grid-row: span 2;
}

.Grid_Gallery img {
  width: 100%;
  height: 100%;
}

.Grid_Gallery img {
  object-fit: cover;
  background: #f5f3f4;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.Grid_Gallery > div {
  --row-step: calc(4 * var(--n));
}

@media (min-width: 850px) {
  .Grid_Gallery {
    grid-gap: 10px;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 12vw;
  }

  .Grid_Gallery > div {
    --row-step: calc(4 * var(--n));
  }

  .Grid_Gallery div:nth-child(11n + 1) {
    grid-column: 1;
    grid-row: calc(1 + var(--row-step)) / span 2;
  }

  .Grid_Gallery div:nth-child(11n + 2) {
    grid-column: 2 / span 2;
    grid-row: calc(1 + var(--row-step)) / span 2;
  }

  .Grid_Gallery div:nth-child(11n + 3) {
    grid-column: 4;
    grid-row: calc(1 + var(--row-step));
  }

  .Grid_Gallery div:nth-child(11n + 4) {
    grid-column: 5;
    grid-row: calc(1 + var(--row-step));
  }

  .Grid_Gallery div:nth-child(11n + 5) {
    grid-column: 4;
    grid-row: calc(2 + var(--row-step));
  }

  .Grid_Gallery div:nth-child(11n + 6) {
    grid-column: 5;
    grid-row: calc(2 + var(--row-step)) / span 2;
  }

  .Grid_Gallery div:nth-child(11n + 7) {
    grid-column: 2;
    grid-row: calc(3 + var(--row-step));
  }

  .Grid_Gallery div:nth-child(11n + 8) {
    grid-column: 1;
    grid-row: calc(3 + var(--row-step));
  }

  .Grid_Gallery div:nth-child(11n + 9) {
    grid-column: 3 / span 2;
    grid-row: calc(3 + var(--row-step)) / span 2;
  }

  .Grid_Gallery div:nth-child(11n + 10) {
    grid-column: 1 / span 2;
    grid-row: calc(4 + var(--row-step));
  }

  .Grid_Gallery div:nth-child(11n + 11) {
    grid-column: 5;
    grid-row: calc(4 + var(--row-step));
  }
}

/* HTML: <div class="loader"></div> */
.Loader {
  aspect-ratio: 1;
  border-radius: 50%;
  animation:
    l20-1 0.8s infinite linear alternate,
    l20-2 1.6s infinite linear;
}
@keyframes l20-1{
   0%    {clip-path: polygon(50% 50%,0       0,  50%   0%,  50%    0%, 50%    0%, 50%    0%, 50%    0% )}
   12.5% {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100%   0%, 100%   0%, 100%   0% )}
   25%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 100% 100%, 100% 100% )}
   50%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
   62.5% {clip-path: polygon(50% 50%,100%    0, 100%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
   75%   {clip-path: polygon(50% 50%,100% 100%, 100% 100%,  100% 100%, 100% 100%, 50%  100%, 0%   100% )}
   100%  {clip-path: polygon(50% 50%,50%  100%,  50% 100%,   50% 100%,  50% 100%, 50%  100%, 0%   100% )}
}
@keyframes l20-2{ 
  0%    {transform:scaleY(1)  rotate(0deg)}
  49.99%{transform:scaleY(1)  rotate(135deg)}
  50%   {transform:scaleY(-1) rotate(0deg)}
  100%  {transform:scaleY(-1) rotate(-135deg)}
}



input[type='radio'] {
  @apply appearance-none w-[15px] h-[15px] p-[2px] rounded-full border-gray-300 border bg-clip-content;
}

input[type='radio']:checked {
  @apply bg-gray-900;
}


/* 
input[type='radio'] {
  @apply appearance-none w-15 h-15 rounded-full border-gray-300 border box-border;
}

input[type='radio']:checked {
  @apply appearance-none w-15 h-15 bg-gray-900 rounded-full border-gray-900 box-border;
  box-sizing: border-box; 
  padding: 10px;
} */

.bg_admin {
  @apply bg-[#303030];
}

/* HTML: <div class="loader"></div> */
.loader {
  width: fit-content;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 30px;
  padding-bottom: 8px;
  background: linear-gradient(currentColor 0 0) 0 100%/0% 3px no-repeat;
  animation: l2 2s linear infinite;
}
.loader:before {
  content:"Loading..."
}
@keyframes l2 {to{background-size: 100% 3px}}

.custom-toast .Toastify__progress-bar {
  background: #FF6F00; /* Set the desired color for the progress bar */
}